body {
        text-align: left;
        margin-left: 10%;
        margin-right: 10%;
}

h2 {
        text-align: center; 
}

 /* the @keyframes block */
@keyframes x {
    from {
        background-color: white;
    }
    to {
        background-color: black;
    }
}

/* the element to be animated */
.dopeElement {
    width: 100px;
    height: 100px;
    background-color: white;
    animation-name: x;
    animation-duration: 5s;
    animation-times: 5s;
    animation-iteration-count: infinite;
} 

/* the @keyframes block */
@keyframes xx {
    from {
        background-color: white;
        width: 100px;
    }
    to {
        background-color: black;
        width: 500px;
    }
}

/* the element to be animated */
.evenDoperElement {
    width: 100px;
    height: 100px;
    background-color: white;
    animation-name: xx;
    animation-duration: 5s;
    animation-times: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
} 

/* the @keyframes block */
@keyframes xxx {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:red; left:200px; top:0px;}
    50%  {background-color:black; left:200px; top:200px;}
    75%  {background-color:black; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

/* the element to be animated */
.square-anim {
    width: 100px;
    height: 100px;
    margin-bottom: 200px;
    background-color: black;
    animation-name: xxx;
    animation-duration: 5s;
    animation-times: 5s;
    animation-iteration-count: infinite;
    position: relative;
} 

/* the @keyframes block */
@keyframes xxxx {
        from { left: 0px}
        to { left: 600px}
}

/* the element to be animated */
.fuck {
    animation-name: xxxx;
    animation-duration: 1s;
    animation-times: 1s;
    animation-iteration-count: infinite;
    position: relative;
    animation-direction: alternate;
} 
